services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: microdb
    volumes:
      - ./migrations:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 10

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 10

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"   # external
      - "29092:29092" # internal
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
    healthcheck:
      test: [ "CMD-SHELL", "nc -z localhost 29092" ]
      interval: 10s
      timeout: 5s
      retries: 10

  auth:
    image: docker.io/library/soa-backend-auth:latest
    environment:
      - MYSQL_DSN=root:rootpass@tcp(mysql:3306)/microdb?parseTime=true
      - JWT_SECRET=supersecret
      - PORT=8000
    ports:
      - "8000:8000"
    depends_on:
      mysql:
        condition: service_healthy

  restaurants:
    image: docker.io/library/soa-backend-restaurants:latest
    environment:
      - MYSQL_DSN=root:rootpass@tcp(mysql:3306)/microdb?parseTime=true
      - KAFKA_BROKER=kafka:29092
      - PORT=8001
    ports:
      - "8001:8001"
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_healthy

  booking:
    image: docker.io/library/soa-backend-booking:latest
    environment:
      - MYSQL_DSN=root:rootpass@tcp(mysql:3306)/microdb?parseTime=true
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      - KAFKA_BROKER=kafka:29092
      - PORT=8002
    ports:
      - "8002:8002"
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  notification:
    image: docker.io/library/soa-backend-notification:latest
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
    depends_on:
      rabbitmq:
        condition: service_healthy
  nginx:
    image: nginx:1.25-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - auth
      - restaurants
      - booking
